# <center>Лабораторная работа №1-2
## <center>Анализ данных по доходу населения UCI Adult
    
**В задании предлагается с помощью Pandas ответить на несколько вопросов по данным репозитория UCI [Adult].**

Уникальные значения признаков (больше информации по ссылке выше):
- age: continuous.
- workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- fnlwgt: continuous.
- education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- education-num: continuous.
- marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- sex: Female, Male.
- capital-gain: continuous.
- capital-loss: continuous.
- hours-per-week: continuous.
- native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- salary: >50K,<=50K

In [8]:
import pandas as pd

In [9]:
data = pd.read_csv('adult.data.csv')
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**1. Сколько мужчин и женщин (признак *sex*) представлено в этом наборе данных?**

In [10]:
data['marital-status'].value_counts()

Married-civ-spouse       14976
Never-married            10683
Divorced                  4443
Separated                 1025
Widowed                    993
Married-spouse-absent      418
Married-AF-spouse           23
Name: marital-status, dtype: int64

**2. Каков средний возраст (признак *age*) женщин?**

In [11]:
average_age=data[data['sex']=='Female']['age'].mean()
print('Average female age: ', average_age)

Average female age:  36.85823043357163

3. Какова доля граждан Германии (признак *native-country*)?**

In [12]:
mean_Germany=(data['native-country'] == 'Germany').mean()
print('Proportion of German citizens: ', mean_Germany)

Proportion of German citizens:  0.004207487485028101

**4-5. Каковы средние значения и среднеквадратичные отклонения возраста тех, кто получает более 50K в год (признак *salary*) и тех, кто получает менее 50K в год?**

In [13]:
more_than_50k = data [data['salary'] == '>50K']['age'].mean()
more_than_50k_std = data [data['salary'] == '>50K']['age'].std()
less_than_50k = data [data['salary'] == '<=50K']['age'].mean()
less_than_50k_std = data [data['salary'] == '<=50K']['age'].std()
calculations = pd.DataFrame(
        { 
            "mean":[more_than_50k, less_than_50k], 
            "std":[more_than_50k_std, less_than_50k_std]
        },
        index=['Receiving more than 50K','Receiving less than 50K']
    )
print(calculations)

                              mean        std
Receiving more than 50K  44.249841  10.519028
Receiving less than 50K  36.783738  14.020088

**6. Правда ли, что люди, которые получают больше 50k, имеют как минимум высшее образование? (признак *education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* или *Doctorate*)**

In [31]:
((data['education'] == 'Bachelors') | (data['education'] == 'Prof-school') | 
(data['education'] == 'Assoc-acdm') |  (data['education'] == 'Assoc-voc') | 
(data['education'] == 'Masters') | (data['education'] == 'Doctorate') & 
(data['salary'] == '>50K')).value_counts()

False    22152
True     10409
dtype: int64

**7. Выведите статистику возраста для каждой расы (признак *race*) и каждого пола. Используйте *groupby* и *describe*. Найдите таким образом максимальный возраст мужчин расы *Amer-Indian-Eskimo*.**

In [44]:
max_male_age = data[(data['race'] == 'Amer-Indian-Eskimo') & (data['sex'] == 'Male')]['age'].max()
print('The maximum age of men of Amer-Indian-Eskimo race: ', max_male_age)
data.groupby(['race','sex'])['age'].describe()

The maximum age of men of Amer-Indian-Eskimo race:  82

                             count       mean        std   min   25%   50%  \
race               sex
Amer-Indian-Eskimo Female    119.0  37.117647  13.114991  17.0  27.0  36.0
                   Male      192.0  37.208333  12.049563  17.0  28.0  35.0
Asian-Pac-Islander Female    346.0  35.089595  12.300845  17.0  25.0  33.0
                   Male      693.0  39.073593  12.883944  18.0  29.0  37.0
Black              Female   1555.0  37.854019  12.637197  17.0  28.0  37.0
                   Male     1569.0  37.682600  12.882612  17.0  27.0  36.0
Other              Female    109.0  31.678899  11.631599  17.0  23.0  29.0
                   Male      162.0  34.654321  11.355531  17.0  26.0  32.0
White              Female   8642.0  36.811618  14.329093  17.0  25.0  35.0
                   Male    19174.0  39.652498  13.436029  17.0  29.0  38.0

                             75%   max
race               sex
Amer-Indian-Eskimo Female  46.00  80.0
                   Male    45.00  82.0
Asian-Pac-Islander Female  43.75  75.0
                   Male    46.00  90.0
Black              Female  46.00  90.0
                   Male    46.00  90.0
Other              Female  39.00  74.0
                   Male    42.00  77.0
White              Female  46.00  90.0
                   Male    49.00  90.0

**8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак *marital-status*)? Женатыми считаем тех, у кого *marital-status* начинается с *Married* (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.**

In [83]:
male_data = data.loc[data['sex'] == 'Male']
bachelors = male_data['marital-status'].isin(['Never-married','Divorced','Separated', 'Widowed'])
married = male_data['marital-status'].str.startswith('Married')
rich_bachelors = male_data.loc[(male_data['salary'] == '>50K') & bachelors].shape[0]
rich_married = male_data.loc[(male_data['salary'] == '>50K') & married].shape[0]
print('{0} married men and {1} bachelors male who earn more then 50K'.format(rich_married,rich_bachelors ))

5965 married men and 697 bachelors male who earn more then 50K

**9. Какое максимальное число часов человек работает в неделю (признак *hours-per-week*)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?**

In [93]:
max_work_hours = data['hours-per-week'].max()
print("Max work time - {0} hours./week.".format(max_work_hours))

hardworking = data[data['hours-per-week'] == max_work_hours].shape[0]
print("Total number of hard workers {0}".format(hardworking))

rich_share = data[(data['hours-per-week'] == max_work_hours) & (data['salary'] == '>50K')].shape[0] / hardworking
print("Percentage of rich among them {0}%".format(int(100 * rich_share)))

Max work time - 99 hours./week.
Total number of hard workers 85
Percentage of rich among them 29%

**10. Посчитайте среднее время работы (*hours-per-week*) зарабатывающих мало и много (*salary*) для каждой страны (*native-country*).**

In [81]:
# data.groupby(['salary','native-country'])['hours-per-week'].mean()

for (country, salary), average_hours in data.groupby(['native-country', 'salary']):
    print(country, salary, average_hours['hours-per-week'].mean())

? <=50K 40.16475972540046
? >50K 45.54794520547945
Cambodia <=50K 41.416666666666664
Cambodia >50K 40.0
Canada <=50K 37.91463414634146
Canada >50K 45.64102564102564
China <=50K 37.38181818181818
China >50K 38.9
Columbia <=50K 38.68421052631579
Columbia >50K 50.0
Cuba <=50K 37.98571428571429
Cuba >50K 42.44
Dominican-Republic <=50K 42.338235294117645
Dominican-Republic >50K 47.0
Ecuador <=50K 38.041666666666664
Ecuador >50K 48.75
El-Salvador <=50K 36.03092783505155
El-Salvador >50K 45.0
England <=50K 40.483333333333334
England >50K 44.53333333333333
France <=50K 41.05882352941177
France >50K 50.75
Germany <=50K 39.13978494623656
Germany >50K 44.97727272727273
Greece <=50K 41.80952380952381
Greece >50K 50.625
Guatemala <=50K 39.36065573770492
Guatemala >50K 36.666666666666664
Haiti <=50K 36.325
Haiti >50K 42.75
Holand-Netherlands <=50K 40.0
Honduras <=50K 34.333333333333336
Honduras >50K 60.0
Hong <=50K 39.142857142857146
Hong >50K 45.0
Hungary <=50K 31.3
Hungary >50K 50.0
India <=50K 38.233333333333334
India >50K 46.475
Iran <=50K 41.44
Iran >50K 47.5
Ireland <=50K 40.94736842105263
Ireland >50K 48.0
Italy <=50K 39.625
Italy >50K 45.4
Jamaica <=50K 38.23943661971831
Jamaica >50K 41.1
Japan <=50K 41.0
Japan >50K 47.958333333333336
Laos <=50K 40.375
Laos >50K 40.0
Mexico <=50K 40.00327868852459
Mexico >50K 46.57575757575758
Nicaragua <=50K 36.09375
Nicaragua >50K 37.5
Outlying-US(Guam-USVI-etc) <=50K 41.857142857142854
Peru <=50K 35.06896551724138
Peru >50K 40.0
Philippines <=50K 38.065693430656935
Philippines >50K 43.032786885245905
Poland <=50K 38.166666666666664
Poland >50K 39.0
Portugal <=50K 41.93939393939394
Portugal >50K 41.5
Puerto-Rico <=50K 38.470588235294116
Puerto-Rico >50K 39.416666666666664
Scotland <=50K 39.44444444444444
Scotland >50K 46.666666666666664
South <=50K 40.15625
South >50K 51.4375
Taiwan <=50K 33.774193548387096
Taiwan >50K 46.8
Thailand <=50K 42.86666666666667
Thailand >50K 58.333333333333336
Trinadad&Tobago <=50K 37.05882352941177
Trinadad&Tobago >50K 40.0
United-States <=50K 38.79912723305605
United-States >50K 45.50536884674383
Vietnam <=50K 37.193548387096776
Vietnam >50K 39.2
Yugoslavia <=50K 41.6
Yugoslavia >50K 49.5